<div class="restaurant-banner"></div>
<div class="edit-page">
  <div class="baskets-show">
    <div class="container">
      <div class="std-flex-left">
        <div class="restaurant-info">
          <h1 class='restaurant-name'>Padaria do ZeZé</h1>
          <p class="soft-gray mb-1"> padaria</p>
          <div class="std-flex-left">
            <i class="fa fa-star soft-gray" aria-hidden="true"></i>
            <i class="fa fa-star soft-gray" aria-hidden="true"></i>
            <i class="fa fa-star soft-gray" aria-hidden="true"></i>
            <i class="fa fa-star soft-gray" aria-hidden="true"></i>
            <i class="fa fa-star soft-gray" aria-hidden="true"></i>
            <span class="ml-3 soft-gray">3 avaliações </span>
          </div>
          <p class="mb-0">Rua Vinte de Abril, 505</p>
          <p>Sorocaba, SP</p>
        </div>
        <div class="edit-icons ml-4">
          <%= image_tag 'editing.png', class:"edit-icon" %>
          <br>
          <%= image_tag 'delete.png', class:'delete-icon' %>
          <br>
          <%= image_tag 'pause.png', class:'disable-icon' %>
        </div>
      </div>

      <div class="row ">
        <div class="col-12">

          <div class="cards">
            <div class="basket-card">
              <div class="basket-image">
                <div class="tags">
                  <span>pães</span>
                  <span>bolos</span>
                </div>
              </div>
              <div class="card-text">
                <h2 class='basket-name edit-target'>basket 1</h2>
                <hr>
                <p class='edit-target' > Cesta de pães com aproximadamente 1kg</p>
                <div class="food-icons">
                  <%= image_tag "vegan.png" %>
                  <%= image_tag "lactose-free.png" %>
                  <%= image_tag "gluten-free.png" %>
                </div>

                <div class="std-flex-center mt-4">
                  <button class ="subtract"> - </button>
                  <span class ="card-count"> 0 </span>
                  <button class ="add">+</button>
                </div>
                <div class="card-bottom-info">
                  <p class='edit-target'>17:45 - 18:30</p>
                  <p class='edit-target'>R$ 7,89</p>
                </div>
              </div>
              <div class="edit-icons ml-4">
                <%= image_tag 'editing.png', class:"edit-icon" %>
                <br>
                <%= image_tag 'delete.png', class:'delete-icon' %>
                <br>
                <%= image_tag 'pause.png', class:'disable-icon' %>
                <%= image_tag 'play.png', class:'enable-icon d-none' %>
              </div>
            </div>
          </div>

          <div class="cards">
            <div class="basket-card">
              <div class="basket-image">
                <div class="tags">
                  <span>pães</span>
                  <span>bolos</span>
                </div>
              </div>
              <div class="card-text">
                <h2 class="basket-name">basket 2</h2>
                <hr>
                <p>Cesta de pães com aproximadamente 1kg</p>
                <div class="food-icons">
                  <%= image_tag "vegan.png" %>
                  <%= image_tag "lactose-free.png" %>
                  <%= image_tag "gluten-free.png" %>
                </div>
                <div class="std-flex-center mt-4">
                  <button class ="subtract"> - </button>
                  <span class ="card-count"> 0 </span>
                  <button class ="add">+</button>
                </div>
                <div class="card-bottom-info">
                  <p>17:45 - 18:30</p>
                  <p>R$ 7,89</p>
                </div>
              </div>
              <div class="edit-icons ml-4">
                <%= image_tag 'editing.png', class:"edit-icon" %>
                <br>
                <%= image_tag 'delete.png', class:'delete-icon' %>
                <br>
                <%= image_tag 'pause.png', class:'disable-icon'%>
                <%= image_tag 'play.png', class:'enable-icon d-none' %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
