<div class="baskets-new">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <div class="devise-form-box gradient-bg">
          <h2>Nova Cesta</h2>
          <%= simple_form_for @basket do |f|  %>
            <div class="form-inputs">
              <%= f.input :name %>
              <%= f.input :price %>
              <%= f.input :description %>
              <%= f.input :stock %>
              <%= f.input :pickup_min %>
              <%= f.input :pickup_max %>
              <%= simple_fields_for :basket_tags do |o| %>
                <%= o.input :tags, collection: Tag.all, input_html: { class: "multiple-select", multiple: true }, include_hidden: false %>
              <% end %>
              <%= f.input :photo, as: :file %>
              <p>Or chose one from our defaults: </p>
              <div class="picture-options">
              </div>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Add Basket"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
