<div class="restaurant-banner"></div>
<div class="baskets-show">
  <div class="container">
    <div class="restaurant-info" data-restaurant = "<%=@restaurant.id%>">
      <h1 class='restaurant-name'><%= @restaurant.name %></h1>
      <p class="soft-gray mb-1"> padaria</p>
      <div class="std-flex-left">
        <i class="fa fa-star soft-gray" aria-hidden="true"></i>
        <i class="fa fa-star soft-gray" aria-hidden="true"></i>
        <i class="fa fa-star soft-gray" aria-hidden="true"></i>
        <i class="fa fa-star soft-gray" aria-hidden="true"></i>
        <i class="fa fa-star soft-gray" aria-hidden="true"></i>
        <span class="ml-3 soft-gray">3 avaliações </span>
      </div>
      <p class="mb-0">Rua Vinte de Abril, 505</p>
      <p>Sorocaba, SP</p>
    </div>

    <div class="row">
      <div class="col-6">
<!-- Selected Basket -->
        <h2>Cesta selecionada</h2>
        <div class="cards">
          <div class="basket-card">
            <div class="basket-image">
              <div class="tags">
                <% @basket.tags.each do |tag| %>
                  <span><%= tag.name %></span>
                <% end %>
              </div>
            </div>
            <div class="card-text">
              <h2 class='basket-name'><%= @basket.name%></h2>
              <hr>
              <p><%= @basket.description %></p>
            <div class="food-icons">
              <%= image_tag "vegan.png" %>
              <%= image_tag "lactose-free.png" %>
              <%= image_tag "gluten-free.png" %>
            </div>
            <div class="std-flex-center mt-4 operation-buttons">
              <%= link_to '-', cart_remove_path(basket_id: @basket.id), class: "subtract", remote: true %>
              <span class ="card-count"><%= CartBasket.where("basket_id = #{@basket.id} and cart_id =#{@cart.id}").first.nil? ? 0 : CartBasket.where("basket_id = #{@basket.id} and cart_id =#{@cart.id}").first.quantity%></span>
              <%= link_to '+', cart_add_path(basket_id: @basket.id),class: "add", remote: true %>
            </div>
              <div class="card-bottom-info">
                <p><%= "#{@basket.pickup_min.hour}:#{@basket.pickup_min.min} - #{@basket.pickup_max.hour}:#{@basket.pickup_max.min}" %></p>
                <p><%= "R$ #{@basket.price.to_i/100.0}" %></p>
              </div>
            </div>
          </div>
        </div>


<!-- Other baskets from the restaurant -->
        <h2 class="mt-3 mb-0">Outras cestas deste restaurante</h2>
        <% @baskets.each do |basket| %>
          <div class="cards">
            <div class="basket-card">
              <div class="basket-image">
                <div class="tags">
                  <% @basket.tags.each do |tag| %>
                    <span><%= tag.name %></span>
                  <% end %>
                </div>
              </div>
              <div class="card-text">
                <h2 class="basket-name"><%= basket.name %></h2>
                <hr>
                <p><%= basket.description %></p>
              <div class="food-icons">
                <%= image_tag "vegan.png" %>
                <%= image_tag "lactose-free.png" %>
                <%= image_tag "gluten-free.png" %>
              </div>

              <div class="std-flex-center mt-4 operation-buttons">
              <%= link_to '-', cart_remove_path(basket_id: basket.id), class: "subtract", remote: true %>
              <span class ="card-count"><%= CartBasket.where("basket_id = #{basket.id} and cart_id =#{@cart.id}").first.nil? ? 0 : CartBasket.where("basket_id = #{basket.id} and cart_id =#{@cart.id}").first.quantity%></span>
              <%= link_to '+', cart_add_path(basket_id: basket.id),class: "add", remote: true %>
              </div>
                <div class="card-bottom-info">
                  <p><%= "#{basket.pickup_min.hour}:#{basket.pickup_min.min} - #{basket.pickup_max.hour}:#{basket.pickup_max.min}" %></p>
                  <p><%= "R$ #{basket.price.to_i/100.0}" %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-6">
        <div class="checkout-card gradient-bg">
          <h2>Checkout</h2>
          <div class="checkout-items">
            <div class="checkout-baskets">
              <% unless @baskets_on_cart.nil? %>
                <% @baskets_on_cart.each do |basket, quantity| %>
                  <div class="checkout-item <%=basket.name.downcase.gsub(' ', '-')%>" data-restaurant = '<%=basket.restaurant.id%>'>
                    <h3><%= basket.name%></h3>
                    <div class='std-flex-space-between'>
                      <p  class='quantity'>qtd: <%= quantity %></p>
                      <p class='price' data-unit-price = '<%=basket.price%>' data-total-price = '<%=basket.price.to_f*quantity%>'>R$ <%= basket.price/100.0   %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="std-flex-space-between mt-4">
              <p class="total-price mb-0"> Total: R$ <%= @total/100.0 %></p>
              <%= link_to 'Place Order', orders_path, class: 'checkout-button', method: :post %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="modal-close">&times;</span>
    <p>Você já tem itens de outro restaurante no seu carrinho. Deseja esvaziá-lo?</p>
    <%= link_to 'hello', cart_clear_and_add_path, remote: true, class: "clear-cart" %>
  </div>
</div>
